{% extends "base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Menu</h2>

<form method="POST" class="bg-white p-4 shadow rounded mb-6">
  <input name="name" placeholder="Item Name" class="border p-2 mr-2">
  <input name="price" placeholder="Price" class="border p-2 mr-2">
  <button class="bg-blue-500 text-white px-4 py-2 rounded">Add</button>
</form>

<table class="w-full bg-white shadow rounded">
  <tr class="border-b bg-gray-50">
    <th class="p-3">ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>

  {% for i in items %}
  <tr class="border-b hover:bg-gray-100">
    <td class="p-3">{{ i[0] }}</td>
    <td>{{ i[1] }}</td>
    <td>₹{{ i[2] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
