{% extends "base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Place Order</h2>

<form method="POST" class="bg-white shadow p-6 rounded">
  <label>Choose Item</label>
  <select name="item_id" class="border p-2 w-full mb-4">
    {% for i in items %}
    <option value="{{ i[0] }}">{{ i[1] }} — ₹{{ i[2] }}</option>
    {% endfor %}
  </select>

  <label>Quantity</label>
  <input name="quantity" type="number" value="1" class="border p-2 w-full mb-4">

  <button class="bg-green-500 text-white px-4 py-2 rounded">Place Order</button>
</form>
{% endblock %}
